html {
  scroll-behavior: smooth;
}

/* body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* .nav_style{ background-color: #a29bfe!important;} */

.nav_button {
  background-color: #f8f8ff !important;
}

.nav_style a {
  color: white !important;
}


.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  margin-left: 0px;
  text-align: center;
}

.nav-link:hover {
  background-color: #f8f8ff;
  color: black !important;
  border-radius: 10px !important;
  padding: 5px !important;
}

#myid {
  color: #000000;
}

.main_header {
  /* background-image: url("https://assets.weforum.org/project/image/FQuygXPMd2A4O0deuG3gXRCqpEng4BdwvO3kMkn6Aoo.jpeg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  height: 400px;
  width: 100%;
}

.rightside h1 {
  font-size: 3rem;
}

.corona_rot img {
  animation: gocorona 5s linear infinite;
}

@keyframes gocorona {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leftside img {
  animation: heartbeat 5s linear infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/* Corona Update */
.corona_update {
  margin: 0 0 30px 0;
}
.corona_update h3 {
  color: #ff7675;
}
.corona_update h1 {
  font-size: 2rem;
  text-align: center;
}
.corona_india {
  text-align: center;
}

/* ABOUT SECTION */
.sub_section {
  background-color: #fbfafd;
}

/* FOOTER  */
.footer_style {
  background-color: #563d7c !important;
}
.footer_style p {
  margin-bottom: 0 !important;
}

/* TOP SCROLL */
#myBtn {
  display: none; /*Hidden by default*/
  position: fixed; /*Fixed/sticky position*/
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00a8ff; /* Set a background color */
  /* color: ;       Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background: #606060; /*Add a dark-grey backgound on hover */
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .main_header {
    height: 700px;
    text-align: center;
  }
  .main_header h1 {
    text-align: center;
    padding: 0;
    width: 100%;
    font-size: 34px;
  }
}

.count_style {
  display: inline !important;
}
.count_style p {
  text-align: center;
}
.about_res {
  margin-left: 0 !important;
}
.about_res2 h2 {
  margin-top: 10px !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin: auto!important;
}

#note{
  color: red;
}